* {
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.screen {
    height: 100vh; width: 100vw;
    
    position: absolute;

    display: flex;
    flex-direction: column;
}

.screen * {
    color: #313131;
}

.navbar {
    background-color: #313131;
    color: white;
    
    height: 3.75rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.navbar * {
    color: #FFFFFF;
}

.navbar span {
    font-size: 1.8rem;
    font-weight: 800;
    padding: 0 1rem;
}

.pressable {
    cursor: pointer;
}

/* SCREEN 0 */

#screen0 {
    background-color: #FFFFFF80;
    z-index: 400;
    justify-content: center;
    align-items: center;
}

#screen0 .restart-alert {
    border: 2px solid #AAAAAA;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}

#screen0 .restart-alert span {
    padding: 2rem 2rem 1rem 2rem;
    font-weight: 500;
    font-size: 1rem;
}

#screen0 .restart-alert .buttons {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

#screen0 .restart-alert .buttons button {
    flex: 1; padding: 1rem;

    border-radius: 0.5rem;
    border: 2px solid #DDDDDD;
    background-color: #FFFFFF;

    font-weight: 800;
    font-size: 1.2rem;
}

#screen0 #restart-yes {
    margin-left: 1rem;
    background-color: #DDDDDD;
}

/* SCREEN 1 */

#screen1 {
    z-index: 300;
}

#screen1 .btn-menu-container {
    display: flex;
    flex-direction: column;

    margin: 0 1rem;
}

#screen1 .btn-menu-container .last-game {
    margin: 0 4px 2px 4px;
    color: #AAAAAA;
    
    font-size: 0.85rem;
    font-weight: 500; /* medium */

    white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}

#screen1 .btn-menu-container .btn-menu {
    padding: 1rem; margin-bottom: 1rem;

    box-sizing: border-box;
    border: 4px solid #AAAAAA;
    border-radius: 0.5rem;

    background-color: #FFFFFF;

    font-weight: 800;
    font-size: 1.8rem;
    text-transform: uppercase;
}

#screen1 #btn-newgame {
    background-color: #DDDDDD;
}

/* SCREEN 2 */

#screen2 {
    z-index: 200;
}

#screen2 #insert-player-container {
    display: flex;
    flex-direction: column;

    margin-left: 1rem;
    padding-right: 1rem;
    overflow: auto;
}

#screen2 .insert-player {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

#screen2 .insert-player-name {
    flex: 1;
    padding-left: 1rem;

    background-color: #FFFFFF;
    border: 2px solid #AAAAAA;
    border-radius: 0.5rem;

    font-size: 1.35rem;
    font-weight: 500;
}

#screen2 .remove-player {
    padding: 0.8rem;
    background-color: #DDDDDD;
    border-radius: 0.5rem;
    margin-left: 1rem;
}

/* SCREEN 3 */

#screen3 {
    z-index: 100;
}

#screen3 #table-container {
    overflow: auto;
    flex: 1;
}

#screen3 #addscore-container {
    display: flex;
    flex-direction: row;
    padding: 0.8rem;
}

#screen3 #signs button {
    padding: 1rem;
    background-color: #DDDDDD;
    border: none;
    border-radius: 0.5rem;
}

#screen3 #minus {
    margin: 0 0.8rem;
}

#screen3 #addscore {
    flex: 1;
    
    border: 3px solid #AAAAAA;
    border-radius: 0.5rem;

    font-size: 1.5rem;
    font-weight: 500;
    padding-right: 1rem;
    text-align: right;
}

#screen3 .checked, #screen3 .selected {
    background-color: #F9C33B !important;
}

#screen3 #table {
    border-collapse: collapse;
    min-width: 100%;
}

#screen3 #table thead {
    background-color: #FFFFFF;
    position: sticky;
    top: 0;
    font-size: 1.2rem;
}

#screen3 #table th {
    padding: 0.5rem 0.2rem;
}

#screen3 #table td {
    text-align: center;
    padding: 0.5rem;
}

#screen3 #table tr {
    border-bottom: 1px solid #DDDDDDBF;
    border-bottom-style: dashed;
}

#screen3 #table .round {
    color: #999999;
    font-size: 0.75rem;
}