* {
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

.screen {
    height: 100vh; width: 100vw;
    
    position: absolute;

    display: flex;
    flex-direction: column;
}

#screen0 {
    background-color: #FFFFFF80;
    z-index: 400;
    /* opacity: 0.5;
    padding: 1rem; */
}

#screen1 {
    /* background-color: yellowgreen; */
    z-index: 300;
}

#screen1 .btn-menu-container {
    display: flex;
    flex-direction: column;

    margin: 0 1rem;
}

#screen1 .btn-menu-container .last-game {
    margin: 0 4px 2px 4px;
    color: #AAAAAA;
    
    font-size: 0.75rem;
    font-weight: 500; /* medium */

    white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}

#screen1 .btn-menu-container .btn-menu {
    padding: 1rem; margin-bottom: 1rem;

    box-sizing: border-box;
    border: 4px solid #AAAAAA;
    border-radius: 0.5rem;

    color: #313131;
    background-color: #FFFFFF;

    font-weight: 800;
    font-size: 1.8rem;
    text-transform: uppercase;
}

#screen1 #btn-newgame {
    background-color: #DDDDDD;
}

#screen2 {
    /* background-color: plum; */
    z-index: 200;
}

#screen2 #insert-player-container {
    display: flex;
    flex-direction: column;

    margin-left: 1rem;
    padding-right: 1rem;
    overflow: auto;
}

#screen2 .insert-player {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

#screen2 .insert-player-name {
    flex: 1;
    padding-left: 1rem;

    background-color: #FFFFFF;
    border: 2px solid #AAAAAA;
    border-radius: 0.5rem;

    font-size: 1.35rem;
    font-weight: 500;
}

#screen2 .remove-player {
    padding: 0.8rem;
    background-color: #DDDDDD;
    border-radius: 0.5rem;
    margin-left: 1rem;
}

#screen3 {
    /* background-color: peru; */
    z-index: 100;
}

.navbar {
    background-color: #313131;
    color: white;
    
    height: 3.75rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.navbar span {
    font-size: 1.8rem;
    font-weight: 800;
    padding: 0 1rem;
}

td {
    text-align: center;
    padding: 5px 10px;
}

.round {
    color: #999999;
    font-size: 13px;
}

.signsbtn {
    width: 30px; height: 30px;
    border: 0;
    margin: 5px 0;
    
    background-color: #CCCCCC;
    cursor: pointer;
    
    font-size: 16px;
    font-weight: 800;
}

.selected, .checked {
    background-color: goldenrod;
}